<!doctype html>
<html>

<head>
  <title>Results</title>
  <link rel="stylesheet" href = css/style.css>
</head>

<body>
  <p class = "resultsheading">This is tonight's schedule:<p>
  <div class = "activitybox">
    <h1>Start time: End time: Name: <%= %></h1>
  </div>
  <div class = "assignmentbox">
    <h1>Start time: Assignment:</h1>

</div>
  <div class = "linkindex">
    <a href="/">New Schedule</a>
  </div>
</body>


</html>